<!---->Work in progress
<h1>Showing selected article: <%= params[:id] %></h1>

<p>Title: <%= @article.title %>. </p>
<p>Description: <%=@article.description %>.</p>
<p>Created at: <%=@article.created_at %>.</p>

<h1>Are you sure you want to delete article <%= params[:id] %></h1>

<% if @article.errors.any? %>
<h2>The following error(s) prevented the article from being deleted</h2>
<ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
    <p> <%= f.submit %> </p>
<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'Articles', articles_path %>