<h1 align="center">All articles</h1>

    <% @articles.each do |element| %>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="well well-lg">
                    <div class="article-id" align="center">
                        <%= link_to "#{element.id}", article_path(element.id), class: "btn-xs btn-info" %>
                    </div>
                    <div class="article-title">
                        <strong>Title: </strong><%= element.title %>
                    </div>
                    <div class="article-body">
                        <strong>Description: </strong><%= element.description %>
                        <br>
                        <% if defined? element.user.username %>
                            <strong>Author: </strong><%= element.user.username %>
                        <% else %>
                            <strong>Author: </strong> Anonymous
                        <% end %>
                    </div>
                    <div class="article-created-on">
                        <strong>Created on: </strong><%= element.created_at %>
                    </div>
                    <div class="articles-actions" align="right">
                        <%= link_to 'Edit', edit_article_path(element.id), class: "btn-xs btn-warning" %>
                        <%= link_to 'Delete', article_path(element.id), method: :delete, 
                            data: {confirm: "Are you sure you wish to delete this article?"},
                            class: "btn-xs btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>