<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong>Showing selected article: <%= params[:id] %></strong></h4>
    <hr><strong>Title: </strong><%= @article.title %>
    <hr><strong>Description: </strong><%=@article.description %>
    <hr><strong>Created on: </strong><%=@article.created_at %>
<div class="article-actions" align="right">
    <%= link_to 'Return to articles', articles_path, class: "btn-xs btn-info" %> | 
    <%= link_to 'Edit', edit_article_path(params[:id]), class: "btn-xs btn-warning" %> | 
    <%= link_to 'Delete', article_path(params[:id]), method: :delete, 
            data: {confirm: "Are you sure you wish to delete this article?"}, 
            class: "btn-xs btn-danger" %>
</div>
    
</div>

