<div class="center jumbotron">
  <h1>Welcome to David's Blog!</h1>
  <p><%= link_to 'About', about_path %> | 
  <%= link_to 'Contact', contact_path %> | 
  <%= link_to 'Articles', articles_path %> | 
  <%= link_to 'Create Article', new_path %></p>
  <%= link_to 'Sign up', signup_path, :class => "btn btn-success" %>
</div>